div.proteinAtlas-view-GeneList div.gene {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 28px;
    margin: 2px;
    border-radius: 4px;
    background: var(--thm-bg2);
    font-size: 90%;
}

div.proteinAtlas-view-GeneList div.gene.color-0 {
    background: var(--gene-color-0);
}

div.proteinAtlas-view-GeneList div.gene.color-1 {
    background: var(--gene-color-1);
}

div.proteinAtlas-view-GeneList div.gene.color-2 {
    background: var(--gene-color-2);
}

div.proteinAtlas-view-GeneList div.gene.color-0,
div.proteinAtlas-view-GeneList div.gene.color-1,
div.proteinAtlas-view-GeneList div.gene.color-2 {
    font-weight: bold;
    box-shadow: 0 0 0px 2px var(--thm-black-5) inset;
}
