div.dummyPaces-view-Diagram {
    position: relative;
}

div.dummyPaces-view-Diagram > svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

div.dummyPaces-view-Diagram > svg * {
    transition: all 1s
}
