div.proteinAtlas-App {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;

    --gene-color-0: #fdd;
    --gene-color-1: #dfd;
    --gene-color-2: #ddf;

    --header-height: 48px;
}


div.proteinAtlas-App > .proteinAtlas-view-Panel {
    position: absolute;
    left: 0;
    width: 400px;
    top: var(--header-height);
    bottom: 0;
}

div.proteinAtlas-App > .proteinAtlas-view-Scene {
    position: absolute;
    left: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

div.proteinAtlas-App > header {
    position: absolute;
    left: 0;
    width: 400px;
    top: 0;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.proteinAtlas-App > header > div {
    margin: 0 .5rem;
}
