div.proteinAtlas-view-ConcentrationTable {
    border-collapse: collapse;
    display: table;
    font-size: 80%;
    margin: .5rem 0;
    width: 100%;
}

div.proteinAtlas-view-ConcentrationTable>div {
    display: table-row;
}

div.proteinAtlas-view-ConcentrationTable>div>div {
    display: table-cell;
    height: 28px;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
div.proteinAtlas-view-ConcentrationTable>div>div>div {
    height: 100%;
    left: 0;
    line-height: 20px;
    margin: -10px 2px;
    padding: 0 4px;
    position: absolute;
    text-overflow: ellipsis;
    top: 50%;
    white-space: nowrap;
    width: 100%;
}
div.proteinAtlas-view-ConcentrationTable>div>div.location {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    padding: 0 4px;
}

div.proteinAtlas-view-ConcentrationTable>div.header>div {
    font-weight: bold;
    text-align: center;
}

div.proteinAtlas-view-ConcentrationTable>div>.col-0.on {
    background: var(--gene-color-0);
}

div.proteinAtlas-view-ConcentrationTable>div>.col-1.on {
    background: var(--gene-color-1);
}

div.proteinAtlas-view-ConcentrationTable>div>.col-2.on {
    background: var(--gene-color-2);
}

div.proteinAtlas-view-ConcentrationTable>div>.on {
    border: 1px solid var(--thm-black-4);
}
